{% load static %}
<article class="card border-info mb-3 w-100 ps-2" data-post-id="{{ answer.content.id }}>
                    <div class="row g-0">
                      <div class="col-3 p-2">
                        <div class="border mb-3" style="height: 100px; width: 100px;">
                        <img
                          {% if answer.content.author.avatar %}      
                          src="{{ answer.content.author.avatar.url }}"
                          {% endif %}
                          class="img-fluid rounded-start"
                          alt="..."
                        />
                        </div>
                        <div class="input-group flex-nowrap">
                         <div class="pe-2">
                                <p class="card-text"> Likes: <span class="like-counter">{{ answer.content.likes }} </span></p>
                            </div>

                            <div>
                                <button type="submit" class="btn btn-outline-primary like-button">Like</button>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <p class="card-text">
                            {{ answer.content.content }}
                          </p>
                          <div class="position-absolute bottom-0 pb-3">
                            <input type="checkbox" value="{{ answer.correct }}" name="correct">
                            <label>Correct!</label>
                          </div>
                        </div>
                      </div>
                    </div>
                </article>