{% load static %}
<article class="card border-info mb-3 w-100 ps-2">
                    <div class="row g-0">
                      <div class="col-3 p-2">
                        <div class="border mb-3" style="height: 100px; width: 100px;">
                        <img
                          src="{% static 'img/img.jpg' %}"
                          class="img-fluid rounded-start"
                          alt="..."
                        />
                        </div>
                        <div class="input-group flex-nowrap">
                          <input type="number" class="form-control" value="5">
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <p class="card-text">
                            I will build my own moon park with black-jack and...
                          </p>
                          <div class="position-absolute bottom-0 pb-3">
                            <input type="checkbox" value="checked" name="correct">
                            <label>Correct!</label>
                          </div>
                        </div>
                      </div>
                    </div>
                </article>