{% load static %}
<article class="card border-secondary mb-3 w-100" data-post-id="{{ question.content.id }}">
                    <div class="row g-0">
                      <div class="col-3 p-2">
                        <div class="border w-100 mb-3" style="max-width: 190px; max-height: 190px; height: 150px">
                        <img
                          {% if question.content.author.avatar %}      
                          src="{{ question.content.author.avatar.url }}"
                          {% endif %}
                          class="img-fluid rounded-start"
                          alt="..."
                        />
                        </div>
                        <div class="input-group flex-nowrap pt-1">
                            <div class="pe-2">
                                <p class="card-text"> Likes: <span class="like-counter">{{ question.content.likes }} </span></p>
                            </div>

                            <div>
                                <button type="submit" class="btn btn-outline-primary like-button">Like</button>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body" style="height: 200px;">
                          <h3 class="card-title">
                            <a href="{% url 'question' question.id%}"> {{ question.title }}</a>
                          </h3>
                          <p class="card-text">
                            {{ question.content.content }}
                          </p>
                          <div class="row d-flex position-absolute bottom-0">
                            <a class="col-7" href="{% url 'question' question.id %}">answers ({{ question.answer_set.count }})</a>
                            <div class="col-5">
                                <span>Tags</span>
                                {% for tag in question.tags.all %}
                                <a href="{% url 'tag' tag %}">{{ tag }}</a>
                                {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </article>