{% extends 'layouts/base.html' %}
{% block content %}
              <div class="col-8">
                <div class="d-flex gap-3 align-items-center mb-2">
                    <h1>New Question</h1>
                </div>
                <div class="row justify-content-between mb-4">
                <div class="d-flex align-items-center col-2">
                    <h5 class="ps-2">Title</h5>
                </div>

                <div class="col-10 form-floating ps-1">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea">How to build a moon park?</textarea>
                    <label for="floatingTextarea">Title</label>
                    
                </div>
                </div>

                <div class="row justify-content-between mb-4">
                    <div class="d-flex align-items-start col-2">
                        <h5 class="ps-2">Text</h5>
                    </div>
    
                    <div class="col-10 ps-1 form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 250px">Really, how ? Have no idea about it</textarea>
                        <label for="floatingTextarea2">Text</label>
                    </div>
                </div>

                <div class="row justify-content-between mb-4">
                    <div class="d-flex align-items-center col-2">
                        <h5 class="ps-2">Tags</h5>
                    </div>
    
                    <div class="col-10 form-floating ps-1">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea">moon, park, puzzle</textarea>
                        <label for="floatingTextarea">Tags</label>
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10 ps-1">
                        <button class="btn btn-outline-dark" type="submit">ASK!</button>
                    </div>
                </div>
            </div>
{% endblock %}