{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
              <div class="col-8">
                <div class="d-flex gap-3 align-items-center mb-2">
                    <h1>New Question</h1>
                </div>
               <form method="post">
                   {% csrf_token %}
                   {% bootstrap_form form %}
                   <button class="btn btn-outline-dark" type="submit">Ask!</button>
               </form>
            </div>
{% endblock %}