<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ask me</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
</head>

<body>
    <nav class="navbar bg-body-secondary">
        <div class="container-sm-fluid container-lg">
          <a class="navbar-brand">AskSavvateev</a>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">ASK!</button>
          </form>

          <div class="d-flex justify-content-between gap-3">
            <div class="border">
                <img src="img.jpg" width = "50" height="50"/>
            </div>
            <div class="d-flex flex-column justify-content-between">
                <div>Dr.Pepper</div>
                <div>
                    <a = href="./settings.html">Settings</a>
                    <a = href="./logout.html">Log out</a>
                </div>
            </div>
          </div>
        </div>
      </nav>

      <main = class="container-sm-fluid container-lg mt-3">
          
          <div class="row">
              <div class="col-8">
                <div class="d-flex gap-3 align-items-center">
                    <h1>New Question</h1>
                    <a href="/hot.html">Hot Questions</a>
                </div>
                

                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>
            </div>
            <div class="col-4">
                <h3>Popular tags</h3>
                <div class="row">
                  <div class="col">
                    <span class="badge text-bg-primary">perl</span>
                    <span class="badge text-bg-secondary">pyhton</span>
                    <span class="badge text-bg-danger">TechnoPark</span>
                    <span class="badge text-bg-warning">MySQL</span>
                    <span class="badge text-bg-info">django</span>
                    <span class="badge text-bg-light">Mail.Ru</span>
                    <span class="badge text-bg-dark">Golang</span>
                    <span class="badge text-bg-success">Firefox</span>
                  </div>
                </div>
                <h3>Best members</h3>
                <div>
                  <a href="/member.html" class="d-block">Mr.Freeman</a>
                  <a href="/member.html" class="d-block">Dr.House</a>
                  <a href="/member.html" class="d-block">Bender</a>
                  <a href="/member.html" class="d-block">Queen Victoria</a>
                  <a href="/member.html" class="d-block">A. Savvateev</a>
                </div>

            </div>
        </div>

      </main>
</body>
</html>