{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
          <div class="col-8">
              <div class="d-flex gap-3 align-items-center">
                  <h1>New Question</h1>
                  <a href="{% url 'hot'%}">Hot Questions</a>
              </div>
              
              {% for question in questions %}
                  {% include "layouts/question.html" %}
              {% endfor %}
                {% include "layouts/pagination.html" with page_obj=questions %}
          </div>
{% endblock %}