{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
            <div class="col-8">
                {% include 'layouts/question.html' with item=question %}

                <hr>
                {% for answer in answers %}
                    {% include 'layouts/answer.html' %}
                {% endfor %}
                {% include "layouts/pagination.html" with page_obj=answers %}

                {% if user.is_authenticated %}
                <div>
                    <div class="form-floating mb-2">
                        <form method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <p><button class="btn btn-outline-secondary" type="submit">Answer</button></p>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
{% endblock %}