{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
            <div class="col-8">
                <div class="d-flex flex-column">
                      <h1>Registration</h1>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-outline-dark" type="submit">Register!</button>
                </form>
            </div>
{% endblock %}